// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.photo-circle {
        border: 2px solid #d3e0e9;
        border-radius: 50%;
        height: 40px;
        padding: 2px;
        width: 40px;
        height: 50px;
        width: 50px;
        background-color: #FFF;
        margin-left: -22px;
    }

.photo-circle.selected {
    border: 5px solid #3F9A8A;
}

.fixed-top {
    min-height: 4.5em;
    height: 4.5em;
}

@mixin rounded {
    // write the css here
    border-radius: 5px;
}

.side-nav .nav {
    @include rounded;
    border: 1px solid $border;
}

.side-nav .nav .nav-item {
    border-bottom: 1px solid $border;
}

.side-nav .nav .nav-item.selected {
    background-color: $background-selected;
    color: $background-selected-text;
    border-bottom: 1px solid $border;
}

.navbar.fixed-top {
    border-bottom: 3px solid #6d00db;
}

.form-control.input-error {
    border-color: $error-border;
}

.form-control-error-block {
    color: $error-block-text;
}


// OVERLAYS

.overlay_area {
    position: relative;
}

.overlay {
    position:absolute;
    top:0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    height:100%;
}

.overlay_color {
    opacity: 0.5;
    background: #FFF;
    width: 100%;
    height:100%;
}

.spinner-container {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    text-align: center;
    font-size: 2em;
}